.restore-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 64px;
  background-color: #fff;
}

.restore__logo {
  margin-bottom: 260px;
}

.restore-content {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  text-align: center;
}

.restore__title {
  font-family: "Inter", sans-serif;
  line-height: 133%;
  font-size: 24px;
  font-weight: 600;
  color: #111;
  margin-bottom: 16px;
}

.restore__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 32px;
}

.restore__input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 0px 12px;
  height: 40px;
  margin-bottom: 220px;
}
.restore__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: rgba(0, 0, 0, 0.25);
}

.restore__input:focus {
  border-color: #007bff;
}

.restore__button {
  width: 100%;
  padding: 12px 0;
  background-color: #007bff;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.2s;
}

.restore__button:hover {
  background-color: #005fcc;
}

@media (min-width: 768px) {
  .restore__logo {
    margin-bottom: 262px;
  }

  .restore-screen {
   padding-top: 64px;
}
  .restore-content {
    border-radius: 16px;
    padding: 48px;
    max-width: 496px;
    height: 332px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    background-color: #f9f9f9;
  }
 .restore__input {
  margin-bottom: 32px;
 }
}
