.enter-code-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 64px;
  background: #fff;
}

.enter-code__logo {
  margin-bottom: 262px;
  max-width: 100%;
  height: auto;
}
.enter-code-content {
  width: 100%;
}

.enter-code__title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #000;
  line-height: 133%;
}

.enter-code-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter-code__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 222px;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
}

.enter-code__input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #000;
  outline: none;
  transition: border-color 0.2s;
  height: 40px;
  padding: 0 40px 0 12px;
}
.enter-code__input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
}

.enter-code__input:focus {
  border-color: #1677ff;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.enter-code__buttonn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: #1677ff;
  color: #fff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
}

.enter-code__buttonn:hover {
  background-color: #0f5fcc;
}

@media (min-width: 768px) {
  .enter-code__logo {
    margin-bottom: 268px;
  }
  .enter-code-screen {
    padding-top: 64px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .enter-code-content {
    border-radius: 16px;
    padding: 48px;
    width: 496px;
    height: auto;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    background-color: #f9f9f9;
  }

  .enter-code__inputs {
    margin-bottom: 24px;
  }
}
